html {
    /* Colors */
    --cl-white: #ffffff;
    --cl-sand: #f2ddbf;
    --cl-leaf: #204133;
    --cl-leaf-hsl: 155 34% 19%;
    --cl-cloud: #eff0ef;
    --cl-sky: #d7e7ec;
    --cl-coal: #333333;
    --cl-primary: var(--cl-leaf);
    --cl-secondary: var(--cl-cloud);
    --cl-neutral-high: var(--cl-white);

    /* Fonts */
    --ff-sans-serif: "Lato", sans-serif;
    --ff-display: "Wix Madefor Display", sans-serif;
    background: var(--cl-neutral-high);
    color: var(--cl-primary);

    /* Root styles */
    font-family: var(--ff-sans-serif);
}

/*
    Naked tags
*/

html,
body {
    height: 100%;
}

a {
    outline-offset: 0.2rem;
    color: var(--cl-primary);
    text-underline-offset: 0.25rem;
}

li {
    margin-top: 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--ff-display);
}
h1 {
    font-size: 200%;
    line-height: 1.2;
}
h3 {
    font-size: 125%;
}

p {
    margin-top: 1em;
}

hr {
    opacity: 0.6;
    margin: 3rem auto !important;
    border: none;
    border-bottom: 1px solid var(--cl-primary);
    background: red;
    width: 50%;
}

/*
    Utility
*/

.headline {
    font-weight: 600;
}

/*
    Blocks
*/

/* Layout */
.layout {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
}
.layout__content {
    flex-grow: 1;
}

/* Hero */
.hero {
    --bg-overlay-opacity: 40%;
    display: grid;
    place-items: center;
    background:
        linear-gradient(
            hsl(var(--cl-leaf-hsl) / var(--bg-overlay-opacity)),
            hsl(var(--cl-leaf-hsl) / var(--bg-overlay-opacity))
        ),
        left center / cover url("/hero-bg-cropped.jpg");
    padding: 4rem;
}
.hero__logo {
    width: 19rem;
    height: auto;
}

/* Text-flow wrapper */
.text-flow {
    --max-width: 80ch;
    --min-side-spacing: 2rem;
    margin-inline: auto;
    width: min(var(--max-width), 100vw - 2 * var(--min-side-spacing));
}
.text-flow > * {
    margin-top: 1em;
}
.text-flow > *:first-child {
    margin-top: unset;
}

/* Footer */
.footer {
    background: var(--cl-primary);
    padding-block: 4rem;
    color: var(--cl-secondary);
}
.footer__email {
    display: grid;
    place-items: center;
}
.footer__email a {
    display: inline-block;
    color: inherit;
    font-weight: 600;
    text-decoration: none;
}
.footer__email-icon {
    margin: 0.5rem;
}

/* Buttons */
.btn {
    display: inline-block;
    border: 0.125rem solid transparent;
    border-radius: 0.5em;
    background: var(--cl-secondary);
    padding: 1em;
    color: var(--cl-primary);
    font-weight: 600;
    text-decoration: none;
}

/*
    Pages
*/
.home__blurb {
    background: var(--cl-secondary);
    padding-block: 3rem;
}
.home__check-out {
    padding-block: 3rem;
    text-align: center;
}

.manifesto__copy {
    padding-top: 3rem;
    padding-bottom: 6rem;
}
